body {
    background-color: black;
}

h3,
h4,
p {
    color: white;
}

h6 {
    color: lime;
}

.btn {
    border-radius: 1em;
    background-color: lime;
    font-weight: bold;
}

.nav-item {
    padding-left: 30px;
}

.col-md-2 a {
    margin-top: 10px;
    color: aqua;
    text-decoration: none;
}

.col-md-2 h4 {
    text-decoration: underline;
}

h4 span {
    color: lime;
}

.col-md-6 img {
    border-radius: 50%;
    height: 250px;
    border: 5px solid whitesmoke;
    width: 250px;
    /*margin-left: 170px;*/
    position: relative;
    top: 40px;
    /*transform: rotate(315deg);*/
}

.home {
    text-transform: uppercase;
    color: lime;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

@media screen and (max-width:600px) {
    /**/
    body {
        background-color: rgb(10, 20, 0);
        transition: 5s;
    }
    /*.col-md-6 img{
	height: 250px;
	border: 5px solid whitesmoke;
	width: 250px;
	position: relative;
	top: 5%;
}*/
}